body {
    background-color:peachpuff;
}

h1 {
    color:salmon
}

h2, p {
    font-size: 20px;
}


section h2 {
    color:hotpink;
}

.pink-text {
    color: hotpink;
}

.pink-bg {
    background-color: pink;
}
