
body {
    background-color: peachpuff; 
}

@font-face {
    font-family:"PT Serif"; 
    src: url(../fonts/pt-serif/ptserif-regular.ttf);
}

@font-face {
    font-family:" PT Serif";
    src: url(../fonts/pt-serif/ptserif-bold.ttf);
}

.text-style {
    color: hotpink;
    font-family: "PT Serif", serif;
}

.h1 {
    font-family:"Caveat";
    src: url(styles.css);
    font-size: 40px;
        font-weight: bold;
    letter-spacing: 6px
        text-align center;
    color:coral;
}

.p1 {
    font-family: "Courier New";
    src: url(styles.css);
    font-weight: 100;
    letter-spacing: -1.5px;
    line-height: 0.5;
}

.p2 {
    font-family: "Franklin Gothic Medium";
    src: url(styles.css);
    font-weight: 200;
    letter-spacing: -0.5px;
    line-height: 1;
    text-align: left;
}

.p3 {
    font-family: "Danfo-Regular";
    src: url(styles.css);
    font-weight: 300;
letter-spacing: 1px;
    line-height: 2;
    text-align: left;
}

.p4 {
    font-family: "DynaPuff";
    src: url(styles.css);
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 3;
}
.p5 {
    font-family: "Playwrite_GB_S";
    src: url(styles.css);
    font-weight: 500;
    letter-spacing: 3px;
line-height: 4;
    font-size: 1.125em;
}

p6 {
    font-family: "Roboto";
    src: url(styles.css);
    font-weight: 600;
    letter-spacing: 3.5px;
     line-height: 5;
}

.p7 {
    font-family: "Rubik_Wet_Paint";
    src: url(styles.css);
    font-weight: 700;
letter-spacing: 4px;
    line-height: 5;
}

.p8 {
    font-family: "Satisfy";
    src: url(styles.css);
    font-weight: 800;
    letter-spacing: 5px;
    line-height: 6;
}
.p9 {
    font-family: "Smooch";
    src: url(styles.css);
    font-weight: 900;
    letter-spacing: 6px;
    line-height: 7;
    font-size: 1.15em;
}

.p10 {
    font-family: "Syouwa-Retro-Pop__G";
    src: url(styles.css);
    color:darksalmon;
    text-align: center;
    font-size: 1.5em;
}


.p11 {
    color:hotpink;
}

.h3 {
    color: hotpink;
}

