body {
    background-color: #234a3a; 
}

* {
    margin: 0;
    padding: 0;
}

/* Navigation bar */
.nav-bar {
    background-color: #e7e5d5;
    padding: 30px 16px;
}


.logo {
    width: 150px;
    height: 30px;
    object-fit: contain;
    object-position: left top;
}


nav {
    float: right;
    padding: 7px 0;
}

nav a {
    padding-left: 8px;
    color: #0d422c;
    text-decoration: none;
}

/* Hero banner */
.hero {
    padding: 80px 16px;
    text-align: center;
    background-image: url("../images/green%20forest.jpg");
    /*background-attachment: fixed;*/
    background-size: cover;
    background-position: center top;
    color: #adddc9;
}

h1 {
    margin-bottom: 20px;
    color:beige;
}

.hero a {
    background-color: beige;
    padding: 8px 16px;
    color: #0d422c;
    text-decoration: none;
    display: inline-block;
}

.hero a:hover {
    background-color: #0d422c;
    color: #adddc9;
}

/* Main */ 
.left {
    width: 50%;
    float: left;
}

.left img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    object-position: center top;
}

.right {
    width: 45%;
    float: right;
}

section {
    clear: both;
    padding: 40px 16px;
}

.photo-credit {
    text-align: center;
    color: beige;
    font-size: 0.75em;
}

main .button {
    background-color: rgb(144, 122, 125);
    color: beige;
    text-decoration: none;
    padding: 20px 50px;
    margin: 55px 100px;
    display: inline-block;
}

main .button:hover {
    background-color: #0d422c;
    color: beige;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 3em;
}

.container-white {
    border: solid #1da56d;
    border-radius: 20px;
    background-color: aliceblue;
}

.box-one {
    border: 10px solid #0d422c;
    width: 40px;
    height: 40px;
    background-color: #bddacc;
    display: inline-block;
    padding: 20px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 25px;
    
}
.box-two {
     border: 10px solid #0d422c;
    width: 40px;
    height: 40px;
    background-color: #bddacc;
    display: inline-block;
    padding: 20px;
    margin: 25px auto;
}

.box-three {
      border: 10px solid #0d422c;
    width: 40px;
    height: 40px;
    background-color: #bddacc;
    display: inline-block;
    padding: 20px;
    margin: 25px auto;
}

.box-four {
    border: 10px solid #0d422c;
    width: 40px;
    height: 40px;
    background-color: #bddacc;
    display: inline-block;
    padding: 20px;
    margin: 25px auto;
}

p {
    color: white;
}