* {
    margin: 0;
    padding: 0;
}

/*Navigation Bar */
.nav-bar {
    background-color: #3E3966;
    padding: 4px 16px;
}

body {
    background-color: #e4bef5;
}

.logo {
    width: 150px;
    height: 30px;
    object-fit: contain;
}

nav {
    float:right;
    padding: 7px 0; 

}
nav a {
     color: white;
    text-decoration: none;
    padding-left: 8px;
}

/* Hero Banner */

.hero {
 padding: 80px 16px;
    background-image: url("images/hero-bg.jpg");
    background-size: cover;
    background-position: center top;
    color: #FFFFFF;
    text-align: center;
}

h1 {
    margin-bottom: 16px;
}

.hero a {
    background-color: #FFF;
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
    color: #3E3966;
}

.hero a:hover {
    background-color: #000;
    color: #FFF;
    
}

/* Main Content */
.left {
    float: left;
    width: 40%;
    
}
.right {
    float: right;
    width: 50%;
}

.right img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center top;
}

section {
    clear: both;
    padding: 24px 16px;
    
}

.button {
    background-color: #3E3966;
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    margin-top: 16px;
}

.button:hover {
    background-color: #000;
}

.photo-credit {
    color: grey;
    font-size: 0.75em;
}