
.pink-container {
    background-color: pink;
    width: 800px;
    height: 1800px;
    position: center;
    border: 10px solid #db2a89;
}

h1 {
  color: #b71c57;
  margin: 0 auto;
  width: 450px;
    text-align-last: center;
}

.image-one {
    background-image: url('../assets/krazykatz.jpg');
    width: 450px; /* Set the width of the element */
    height: 300px; /* Set the height of the element */
    margin: 0 auto;
    background-size: 1000px;
}

.image-two {
    background-image: url('../assets/krazykatz.jpg');
    width: 450px;
    height: 300px;
    margin: 0 auto;
    background-size: 180px;
    background-position: center;
    background-repeat: repeat;
}

.image-three {
    background-image: url(../assets/krazykatz.jpg);
    background-color: #b71c57;
    width: 450px;
    height: 300px;
    margin: 0 auto;
    background-size: 225px 150px;
    background-position: 225px 75px;
    background-repeat: no-repeat;
    }

.image-four {
    display: block;
    width: 450px;
    height: 300px;
    margin: 0 auto;
}

.image-five {
    background-color: aqua;
    width: 450px;
    height: 350px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    
}


